body {
    font-family: "Montserrat", serif;
    font-weight: 500;
    background-color: $white;
    color: $black;
}

.container {
    max-width: 1400px;
    padding: 0px 15px;
    margin: 0 auto;
}

.main {
    margin-bottom: 100px;
}

.active {
    color: rgb(152, 12, 12);
}

.red-vote {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 3px 5px;
    background-color: rgb(179, 15, 15);
    color: $white;
    font-size: 16px;
    font-weight: 700;
}

.yellow-vote {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 3px 5px;

    background-color: rgb(234, 159, 21);
    color: $white;
    font-size: 16px;
    font-weight: 700;
}

.green-vote {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 3px 5px;

    background-color: rgb(20, 76, 20);
    color: $white;
    font-size: 16px;
    font-weight: 700;
}